{% extends 'base.html' %}

{% block content %}

<div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                <!--NAVBAR BUTTONS-->
                <style type="text/css">
                    #devstack {
                         border: 2px solid black;
                    }
                    .topfix {
                        position: fixed;
                        top: 0;
                        width: 100%;
                        z-index: 5;
                    }
                    .right {
                        margin-left: 1000px;
                    }
                    .buttonsrow {
                        
                        align-content: center;
                    }
                </style>

                <div>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="buttonsrow">
                            <ul class="nav navbar-nav ml-auto">

                                <small class="ml-auto">To Do Lists:</small>

                                <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>
                                <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                                <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                                <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>
                                <button type="button" class="btn btn-sm btn-outline-devstack ml-3" id="devstack"><a href="{% url 'main' %}">Home</a></button>

                                 <div class="dropdown">
                                    <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false"><span><b>{{ user }}</b></span></button>

                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'acct' %}"><span>Account Info</span></a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout_user' %}"><span><b>Logout</b></span></a>
                                    </div>
                               </div>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                
                    
                </div>
            </nav>

            <style type="text/css">
            	.tab {
            		margin-left: 20px;
            	}
            	.tab40 {
            		margin-left: 40px;
            	}
            	.tab60 {
            		margin-left: 60px;
            	}
            	.tab160 {
            		margin-left: 160px;
            	}
                .blue {
                    color: #1E90FF;
                }
                .black {
                    color: black;
                }
                .red {
                    color: red;
                }
                .code {
                    font-size: 12px;
                }
            </style>

            <h2>Funtions with Parameters <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Finsidehpc.com%2Fwp-content%2Fuploads%2F2016%2F01%2FPython-logo-notext.svg_.png&f=1&nofb=1" height="70" class="ml-2 mr-1"></h2>


<div class="line"></div>

    		<div class="container">
   				 <ol class="list-group mr-8">
			    	<li class="list-group-item"><h5></h5>

<span class="code blue">#Function with Parameters</span><br><br>
<span class="code black">def classic(gr1,gr2):</span><br>
<span class="code black tab">  print("One of my fave classic Hip-Hop</span><br>
<span class="code black tab">groups is " + gr1)</span><br>
<span class="code black tab">  print("Another of my fave Hip-Hop</span><br> 
<span class="code black tab">groups is " + gr2)</span><br><br>

<span class="code black">classic("UltraMagnetic MC's", "Leaders of the New School")</span><br><br>
<span class="code blue"><b>Prints:</b>One of my fave classic Hip-Hop groups is UltraMagnetic MC's</span><br>
<span class="code blue">Another of my fave Hip-Hop groups is Leaders of the New School</span><br>

<div class="line"></div>


<span class="code blue">#Function with Keyword Argument</span><br><br>
<span class="code black">def classic(gr1="UltraMagnetic MC's",gr2="Leaders of the New School"):</span><br>
<span class="code black tab">  print("One of my fave classic Hip-Hop</span><br> 
<span class="code black tab">groups is " + gr1)</span><br>
<span class="code black tab">  print("Another of my fave Hip-Hop</span><br> 
<span class="code black tab">groups is " + gr2)</span><br><br>

<span class="code black">classic()</span><br><br>

<span class="code blue"><b>Prints:</b>One of my fave classic Hip-Hop groups is UltraMagnetic MC's</span><br>
<span class="code blue">Another of my fave Hip-Hop groups is Leaders of the New School</span><br>

<div class="line"></div>

<span class="code blue">#Function with Returns</span><br><br>
<span class="code black">def mult_589(number):</span><br>
<span class="code black tab">  return number*589</span><br><br>

<span class="code blue">#call it through another variable</span><br>
<span class="code black">result = mult_589(1000)</span><br><br>

<span class="code black">print("If XRP actually goes to $589, I</span><br> 
<span class="code black">would easily have " + str(result) +</span><br>
 <span class="code black">" dollars")</span><br>

<div class="line"></div>

<span class="code blue">#Another Example</span><br><br>
<span class="code black">def calculate_age(current_year,</span>
<span class="code black tab">birth_year):</span><br>
<span class="code black tab">  age = current_year - birth_year</span><br>
<span class="code black tab">  return age</span><br><br>

<span class="code black">print(calculate_age(2020, 1976))</span><br>

<div class="line"></div>

<span class="code blue">#CodeAcademy Example</span><br><br>
<span class="code blue">#Write a function called get_boundaries() that takes in two parameters, a number</span><br> 
    <span class="code blue">called target and a number called margin</span><br><br>

<span class="code blue">#It should create two variables:</span><br>
<span class="code blue">#low_limit: target minus the margin</span><br>
<span class="code blue">#high_limit: margin added to target</span><br><br>
<span class="code black">def get_boundaries(target, margin):</span><br>
<span class="code black tab">  low_limit = target - margin</span><br>
<span class="code black tab">  high_limit = target + margin</span><br>
<span class="code black tab">  return low_limit, high_limit</span><br><br>

<span class="code blue">#Return both low_limit and high_limit from the function, in that order</span><br><br>
<span class="code black tab">low, high = get_boundaries(100, 20)</span><br><br>

<span class="code blue">#Call the function on the target 100 with a margin of 20. Save the returned values to variables called low and high</span><br>    
<span class="code blue">#we added this print statement just to sanity-check our solution:</span><br><br>
<span class="code black">print("Low limit: "+str(low)+", high limit: "+str(high))</span><br>

<div class="line"></div>

<span class="code blue">#Function with Global Variable</span><br><br>
<span class="code black">current_year = 2048</span><br><br>

<span class="code black">def calculate_age(birth_year):</span><br>
<span class="code black tab">  age = current_year - birth_year</span><br>
<span class="code black tab">  return age</span><br><br>

<span class="code black">print(current_year)</span><br>
<span class="code black">print(calculate_age(1970))</span><br>

<div class="line"></div>

<span class="code blue">#Define a function called repeat_stuff that takes in two inputs, stuff, and num_repeats.</span><br><br>
<span class="code blue"># We will want to make this function print a string with stuff repeated num_repeats amount of times. For now, only put an empty print statement inside the function.</span><br><br>
<span class="code blue">#Change the print statement inside repeat_stuff to a return statement instead.</span><br><br>
<span class="code blue"># It should return stuff*num_repeats.</span><br><br>
<span class="code blue"># Note: Multiplying a string just makes a new string with the old one repeated!</span><br><br>
<span class="code blue">#Outside of the function, call repeat_stuff.</span><br><br>
<span class="code blue">#You can use the value "Row " for stuff and 3 for num_repeats.</span><br><br>
<span class="code blue">#Give the parameter num_repeats a default value of 10.</span><br><br>
<span class="code blue">#Add repeat_stuff("Row ", 3) and the string "Your Boat. " together and save the result to a variable called lyrics.</span><br><br>
<span class="code blue">#Create a variable called song and assign it the value of repeat_stuff called with the singular input lyrics.</span><br><br>
<span class="code blue">#Print song</span><br><br>

<span class="code black">def repeat_stuff(stuff, num_repeats=10):</span><br>
<span class="code black tab">  return stuff*num_repeats</span><br><br>

<span class="code black">lyrics = repeat_stuff("Row ", 3) + "Your Boat"</span><br>
<span class="code black">song = repeat_stuff(lyrics)</span><br><br>

<span class="code black">print(song)</span><br>

<div class="line"></div>

<span class="code blue"># Write a function called f_to_c that takes an input f_temp, a temperature in Fahrenheit, and converts it to c_temp, </span><br>
    <span class="code blue">that temperature in Celsius</span><br><br>
<span class="code blue"># It should then return c_temp</span><br><br>
<span class="code blue"># The equation you should use is:</span><br><br>
<span class="code blue"># Temp (C) = (Temp (F) - 32) * 5/9</span><br><br>
<span class="code blue"># Let’s test your function with a value of 100 Fahrenheit</span><br><br>

<span class="code black">def f_to_c(f_temp):</span><br>
<span class="code black tab">  c_temp = (f_temp - 32) * 5/9</span><br>
<span class="code black tab">  return c_temp</span><br><br>
<span class="code black">print(f_to_c(100))</span><br>

<div class="line"></div>

<span class="code blue"># Define a function called get_force that takes in mass and acceleration. It should return mass multiplied by acceleration.</span><br><br>
<span class="code blue"># Test get_force by calling it with the variables train_mass and train_acceleration.</span><br><br>
<span class="code blue"># Save the result to a variable called train_force and print it out</span><br><br>
<span class="code black">train_mass = 22680</span><br>
<span class="code black">train_acceleration = 10</span><br>
<span class="code black">train_distance = 100</span><br><br>

<span class="code black">def get_force(mass, acceleration):</span><br>
<span class="code black tab">  return mass * acceleration</span><br>
<span class="code black tab">train_force = get_force(train_mass,</span><br> 
<span class="code black tab">train_acceleration)</span><br><br>
<span class="code black">print(train_force)</span><br>

<div class="line"></div>

<span class="code blue"># Define a function called get_energy that takes in mass and c.</span><br><br>
<span class="code blue"># c is a constant that is usually set to the speed of light, which is roughly 3 x 10^8. Set c to have a default value of 3*10**8.</span><br><br>
<span class="code blue"># get_energy should return mass multiplied by c squared</span><br><br>
<span class="code blue"># Test get_energy by using it on bomb_mass, with the default value of c. Save the result to a variable called bomb_energy</span><br><br>

<span class="code black">bomb_mass = 1</span><br>
<span class="code black">c = 3*10**8</span><br>
<span class="code black">def get_energy(mass, c):</span><br>
<span class="code black">  return mass * (c**2)</span><br><br>

<span class="code black">bomb_energy = get_energy(bomb_mass,c)</span><br><br>

<span class="code black">print("A 1kg bomb supplies " + str(bomb_energy) + " Joules")</span><br>

<div class="line"></div>

<span class="code blue"># Define a final function called get_work that takes in mass, acceleration, and distance.</span><br><br>
<span class="code blue"># Work is defined as force multiplied by distance. First, get the force using get_force, then multiply that by distance. Return the result.</span><br><br>
<span class="code blue"># Test get_work by using it on train_mass, train_acceleration, and train_distance. Save the result to a variable called train_work.</span><br><br>
<span class="code blue"># Print the string "The GE train does X Joules of work over Y meters.", with X replaced with train_work and Y replaced with train_distance.</span><br><br>

<span class="code black">def get_work(mass, acceleration,</span><br>
<span class="code black tab">distance):</span><br>
<span class="code black tab">  get_force = mass * acceleration</span><br>
<span class="code black tab">  return get_force</span><br>
  
<span class="code black">train_work = get_work(train_mass, train_acceleration, train_distance)</span><br><br>

<span class="code black">print("The GE train does " + str(train_work) + " Joules of work over "+ str(train_distance) + " meters." )</span><br>

<div class="line"></div>

<span class="code blue"># Write your tenth_power function here:</span><br>
<span class="code black">def tenth_power(num):</span><br>
<span class="code black tab">  return num ** 10</span><br><br>
<span class="code blue"># Uncomment these function calls to test your tenth_power function:</span><br><br>
<span class="code black">print(tenth_power(1))</span><br>
<span class="code blue"># 1 to the 10th power is 1</span><br><br>
<span class="code black">print(tenth_power(0))</span><br>
<span class="code blue"># 0 to the 10th power is 0</span><br><br>
<span class="code black">print(tenth_power(2))</span><br>
<span class="code blue"># 2 to the 10th power is 1024</span>

{% endblock %}