{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                   
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'deliverables' %}">Deliverables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'practices' %}">Practices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main' %}">Development Stack</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>


            <h2>Disable Fields By CheckBox<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn-images-1.medium.com%2Fmax%2F1200%2F1*H-25KB7EbSHjv70HXrdl6w.png&f=1&nofb=1" height="50" class="ml-4"></h2>

            <div class="line"></div>


            <style type="text/css">
                .tab20 {
                    margin-left: 12px;
                }
                .tab40 {
                    margin-left: 40px;
                }
                .tab80 {
                    margin-left: 50px;
                }
                .tab120 {
                    margin-left: 120px;
                }
                .tab180 {
                    margin-left: 160px;
                }
                 
                .code {
                    font-size: 10px;
                    font-weight: bold;
                }
            </style>



            <div class="container-fluid">
            <div class="media">
            <div class="container">

            <br>

                <ol class="list-group mr-8">

                    <li class="list-group-item list-group-item-secondary">Color Code selection output by Radiodial</li>


                                    <li class="list-group-item"><b>'Onsite'</b> value is color coded yellow upon selection <br>
                                                                <b>'Instudio'</b> is color coded purple upon selection <br>
                                                                <span class="tab40"><small>You can plug in ANY colors or other CSS settings for this sequence</small><br>
                                                                <hr>



                                        <span class="badge badge-primary code">Le CSS</span> <br>
                                        <br>

                                    <div class="code">
                                        &ltstyle type="text/css"> <br>
                                            <span class="tab20">.goldy { <br>
                                                <span class="tab40">background-color: #FFD700; <br>
                                            <span class="tab20">} <br>
                                            <span class="tab20">.prince { <br>
                                                <span class="tab40">background-color: #DDA0DD; <br>
                                            <span class="tab20">} <br>
                                        &lt/style>
                                        <hr>



                                        <span class="badge badge-warning code">Le JavaScript</span> <br>
                                        <br>
                                    </div>

                                    <div class="code">
                                        &ltscript type="text/javascript"> <br>
                                        
                                        <span class="tab20">var colorElements = document.querySelectorAll('.color');</span><br>
                                        
                                        <span class="tab20">colorElements.forEach(element => {</span><br>
                                        
                                                <span class="tab40">if (element.innerHTML == "OnSite") {</span> <br>
                                                
                                                    <span class="tab40">element.classList.add('goldy');</span><br>
                                                    
                                                <span class="tab40">} else if (element.innerHTML == </span><br>
                                                <span class="tab80">"InStudio") {</span><br>
                                                
                                                    <span class="tab40">element.classList.add('prince');</span><br> 
                                                    
                                                <span class="tab40">}</span><br>
                                                
                                        <span class="tab20">});</span><br>
                                                  
                                        &lt/script></span></li>

                                    </div>


{% endblock %}