{% extends 'base.html' %}

{% block content %}


<div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!--NavBar-->
                    <button type="button" id="sidebarCollapse" class="btn btn-dark mr-5">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    

                    <!--Navbar Links-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'deliverables' %}">Deliverables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'practices' %}">Practices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main' %}">Development Stack</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>



                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container-fluid">


                    <style type="text/css">
                        .center {
                            text-align: center;
                        }
                        .center-block {
                            margin-right: auto;
                            margin-left: auto;
                        }
                        .green {
                            background-color: #90EE90;
                            color: black;
                            border: 1px solid black;
                        }
                    </style>

                    <h3>Deliverables Checklist</h3>
                        
                    <div class="center-block">  
                        <form class="form-inline my-2 my-lg-0" method="POST">
                            {% csrf_token %}
                            <input class="form-control mr-5 ml-auto center" size="30" placeholder="Enter Deliverable" name="delivs">
                            <button type="submit" class="btn green mr-5">Add to Deliverables</button>
                        </form>
                    </div>            
                        
                </div>
            </nav>

<!--STRIKER-->
<style type="text/css">
    .striker {
        text-decoration: line-through;
    }
    #green {
        background-color: #90EE90;
        color: black;
    }
</style>

<!--MESSAGES-->
<div class="container">

        {% if messages %}
              {% for message in messages %}

                  <div class="alert alert-dismissable" id="green" role="alert">
                    <button class="close" data-dismiss="alert">
                         <sup><small>close</small></sup>
                    </button>
                       {{ message }}
                  </div>

              {% endfor %}
        {% endif %}


<!--DELIVERABLES TABLE-->
    {% if all_delivs %}
    <div class="container">
            <br>
                <table class="table table-bordered">
                    <th class="table" id="green" colspan="4">Deliverables To Complete</th>
                    {% for stuff in all_delivs %}
                        {% if stuff.delivscomplete %}

                        <tr>
                            <td class="striker">{{ stuff.delivs }}</td>
                            <td><center><a href="{% url 'delivs_uncross' stuff.id %}">Uncross</a></center></td>
                            <td><center><a href="{% url 'delivs_delete' stuff.id %}">Delete</a></center></td>
                        </tr>

                        {% else %}

                        <tr>
                            <td><a href="{% url 'delivs_edit' stuff.id %}">{{ stuff.delivs }}</a></td>
                            <td><center><a href="{% url 'delivs_cross_off' stuff.id %}">Cross Off</a></center></td>
                            <td><center><a href="{% url 'delivs_delete' stuff.id %}">Delete</a></center></td>
                        </tr>

                        {% endif %}
                    {% endfor %}
                </table>
    {% endif %}
    </div>
    </div>
</div>

{% endblock %}