{% extends 'base.html' %}


{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

         
        </head>

  <body>

  	

    <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    

                     <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                        .topfix {
                            position: fixed;
                            top: 0;
                            width: 100%;
                            z-index: 5;
                        }
                        .right {
                            margin-left: 1000px;
                        }
                        .smaller {
                            height: 30px;
                            width: 60px;
                            font-size: 10px;
                        }
                    </style>


                <div>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>
                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>
                            <button type="button" class="btn btn-sm btn-outline-devstack ml-3" id="devstack"><a href="{% url 'main' %}">Home</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'acct' %}">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>
                </div>
                    
                </div>
            </nav>


                    <style type="text/css">
                        .tab {
                            margin-left: 40px;
                        }
                        .tab80 {
                            margin-left: 80px;
                        }
                        .tab120 {
                            margin-left: 120px;
                        }
                        .code {
                            font-size: 10px;
                        }
                    </style>

            <div class="media-body ml-8" >
			    <h3 class="mt-0"><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.vizteams.com%2Fwp-content%2Fuploads%2F2014%2F04%2Fdjango.png&f=1&nofb=1" height="50"  class="mr-3" alt="Django"> Django ORM   <br></h3> 
        
			</div>
			<div class="line"></div>

            
            <span class="tab"><small>(Object Relational Mapping)</small> <br>
            <span class="tab"><small>Transporting Info from models.py | views.py</small>

      

           <div class="container-fluid">
            <div class="media">

			<div class="container">

                 <br>
			<br>


			    <ol class="list-group mr-8">
			    	<li class="list-group-item list-group-item-secondary">in <b>views.py</b></li>
                    <li class="list-group-item">Set up the 'Home' page <br>
                        
			    	<span class="code"><b>def home(request):</b><br>
                    <span class="tab code"><b>my_name = "Court"</b><br>
                    <span class="tab code"><b>return render(request, 'home.html',</b><br>
                    <span class="tab code"><b>{'name': <b>my_name</b>})</b></li>

	                <br>


			    	<li class="list-group-item list-group-item-secondary">in <b>home.html</b></li>
                    
                    <li class="list-group-item"><span>Transport the variable <b>'my_name'</b> by calling the 'name' dictionary from above <br>
                        
                        <span class="code"><b>(% extends 'home.html' %)</b><br></span>
                        <span class="code"><b>(% block content %)</b><br></span>
                        <span class="tab code">My name is: <b>(( name ))</b><br></span>
                        <span class="code"><b>(% endblock %) </b><hr></span>
                            <span class="code">The output on home.html will read:<br>
                                                <span class="tab">"My name is: <b>Court</b>"</span></li>

                    <br>

                    <li class="list-group-item list-group-item-secondary">Change the output by just changing the value</li>
                    <li class="list-group-item"> <span>in the dictionary you can change anything by just changing the value <br><hr>
                                                <span class="code"><b>def home(request):</b><br></span>
                                                <span class="tab code"><b>my_name = "Court"</b><br></span>
                                                <span class="tab code"><b>number = 4 + 9 </b><br></span>
                                                <span class="tab code"><b>return render(request, 'home.html',</b><br></span> 
                                                    <span class="tab code"><b>{'name': <b>number</b>})</b><br></span>
                                                    
                                                    <span><small>We've changed the value from my_name to number</small></span>

                    <hr>
                    <span>The output from:<br>
                        <span class="code"><b>(% extends 'home.html' %)</b><br>
                        <span class="tab code"><b>(% block content %)</b><br>
                        <span class="tab code">My name is: <b>(( name ))</b><br>
                        <span class="tab code"><b>(% endblock %)</b>                        

                        <hr>
                     <span>will now read what's in the number variable:<br>
                    <span class="tab">4 + 9 which equals <b>13</b>
                        <br>
                        <span>So the home.html screen will say: <br>
                            <span class="tab">My name is: <b>13</b></li>


                    <br>

                    <li class="list-group-item list-group-item-secondary">You can also have more than one dictionary</li>
                    <li class="list-group-item"> <span class="tab">BELOW we have firstname and lastname<br><hr>
                                                <span class="code"><b>def home(request):</b><br>
                                                <span class="tab code"><b>firstname = "Court"</b><br>
                                                <span class="tab code"><b>lastname = "Jacobs"</b><br>
                                                <span class="tab code"><b>return render(request, 'home.html', </b><br>
                                                <span class="tab80 code">  {<b>'firstname': firstname, <br>
                                                <span class="tab80 code">'lastname': lastname</b>})<br></li>


                    <br>

                    <li class="list-group-item list-group-item-secondary">in <b>home.html</b> (more than one dictionary)</li>
                    <li class="list-group-item">You can have:<br>
                        <br>
                        <span class="code"><b>(% extends 'home.html' %)</b><br>
                        <span class="tab code"><b>(% block content %)</b><br>
                        <span class="tab code"><b>My first name is:</b> (( firstname ))<br>
                        <span class="tab code"><b>My last name is:</b> (( lastname )) <br>
                        <span class="code"><b>(% endblock %)</b><br><hr>
                        <span class="code">The output on home.html will read:<br>
                                                <span class="tab code">My first name is: <b>Court</b> <br>
                                                <span class="tab code">My last name is: <b>Jacobs</b></li>
                    




{% endblock %}