{% extends 'base.html' %}


{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

         
        </head>

  <body>

  	

    <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    

                   <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                    </style>



                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>

                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>

                            <button type="button" class="btn btn-sm btn-outline-devstack ml-5" id="devstack"><a href="{% url 'main' %}">back to Development Stack</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>
                    
                </div>
            </nav>

            <style type="text/css">
                .tab {
                    margin-left: 40px;
                }
                .tab80 {
                    margin-left: 80px;
                }
                .code {
                    font-size: 10px;
                }
            </style>


            <div class="media-body ml-8" >
                <h3 class="mt-0">Cloning<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.vizteams.com%2Fwp-content%2Fuploads%2F2014%2F04%2Fdjango.png&f=1&nofb=1" height="50"  class="mr-3 ml-3" alt="Django">Repo</h3> 
            </div>
            <div class="line"></div>


            <div class="container-fluid">
            <div class="media">

            <div class="container">


            <br>


                <ol class="list-group mr-8">
                    <li class="list-group-item list-group-item-secondary">Cloning GitHub Repo</li>
                    <li class="list-group-item">mkdir (project folder)
                        <br><hr>
                        cd into (project folder)
                        <br><hr>
                        install virtual environment <span class="code"><br><b>pip install virtualenv</b> (if needed)</span>
                        <br><hr>
                        Create virtual environment <span class="code"><br><b>virtualenv venv</b></span>
                        <br><hr>
                        turn on virtual environment <span class="code"><b><br> . venv/Scripts/activate</b></span>
                        <br><hr>
                        install Django <span class="code"><b><br>pip install django</b></span>
                        <br><hr>
                        Clone project into <br>(project folder)
                        <br><hr>
                        install dependencies: <br><br>
                        <ul>
                        <li>gunicorn <span class="code"><b><br>pip install gunicorn</b></span></li>
                        <li>django-heroku <span class="code"><b><br>pip install django-heroku</b><br>(if pushing to heroku)</li>
                        <li>python-decouple <span class="code"><b><br>pip install python-decouple</b></li>
                        </ul><br><hr>
                        copy the .env file <br><br> 
                        <span class="code">from the local one on your computer <br>
                        or you will have to get the secret key from whoever owns 
                        the repository</span>
                        <br>
                    </li>
                </ol>
      


{% endblock %}