{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>



                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'deliverables' %}">Deliverables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'practices' %}">Practices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main' %}">Development Stack</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>


    <h2><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.w3.org%2Fhtml%2Flogo%2Fdownloads%2FHTML5_Logo_512.png&f=1&nofb=1" height="70" width="80" class="ml-4 mr-3">DropdownMenu</h2>

    <div class="line"></div>


      <style type="text/css">
                        .tab20 {
                            margin-left: 20px;
                        }
                        .tab40 {
                            margin-left: 40px;
                        }
                        .tab60 {
                            margin-left: 60px;
                        }
                        .tab80 {
                            margin-left: 80px;
                        }
                        .tab120 {
                            margin-left: 120px;
                        }
                        .code {
                            font-size: 10px;
                            font-weight: bold;
                        }
                    </style>


    <div class="container-fluid">
            <div class="media">
            <div class="container">


            <br>


                <ol class="list-group mr-8">

                    <li class="list-group-item list-group-item-secondary">Dropdown.html</li>
                                <li class="list-group-item">BELOW makes a Dropdown Menu: <br>
                                    <hr>

                                <div class="code">
                                   <span>&ltform></span> <br><br>
                                   <span class="tab20">&ltlabel for="lunch"></span> <br>
                                   <span class="tab20">What's for lunch?</span> <br>
                                   <span class="tab20">&lt/label></span> <br><br>
                                   <span class="tab20">&ltselect id="lunch" name="lunch"></span><br>
                                   <span class="tab40">&ltoption value="pizza">Pizza</option></span><br>
                                   <span class="tab40">&ltoption value="currychicken"></option></span><br>
                                   <span class="tab60">Curry Chicken</option></span><br>
                                   <span class="tab40">&ltoption value="salad">Salad</option></span><br>
                                   <span class="tab40">&ltoption value="ramen">Ramen</option></span><br>
                                   <span class="tab40">&ltoption value="tacos">Tacos</option></span><br>
                                   <span class="tab20">&lt/select></span><br>
                                   <br>
                                   <span>&lt/form></span>
                                </div> 

                                <hr>

                                <form>
                                    <label for="lunch">What's for lunch?</label>
                                    <select id="lunch" name="lunch">
                                        <option>Select:</option>
                                        <option value="pizza">Pizza
                                        <option value="currychicken">Curry Chicken
                                        <option value="salad">Salad
                                        <option value="ramen">Ramen
                                        <option value="tacos">Tacos
                                    </select>
                                </form></li>


    {% endblock %}