{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>



                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'deliverables' %}">Deliverables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'practices' %}">Practices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main' %}">Development Stack</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>


    <h2><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.w3.org%2Fhtml%2Flogo%2Fdownloads%2FHTML5_Logo_512.png&f=1&nofb=1" height="70" width="80" class="ml-4 mr-3">Tables</h2>

    <div class="line"></div>

                <style type="text/css">
                        .tab20 {
                            margin-left: 20px;
                        }
                        .tab40 {
                            margin-left: 40px;
                        }
                        .tab60 {
                            margin-left: 60px;
                        }
                        .tab80 {
                            margin-left: 80px;
                        }
                        .tab120 {
                            margin-left: 120px;
                        }
                        .code {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .comments {
                          color: grey;
                        }
                    </style>


    <div class="container-fluid">
            <div class="media">
            <div class="container">


            <br>


                <ol class="list-group mr-8">

                    <li class="list-group-item list-group-item-secondary">Tables.html</li>
                                <li class="list-group-item">BELOW makes an HTML table: <br>
                                                            <br>
                                                        <div class="code">
                                                           <span class="tab40">&lttable></span><br>

                                                           <span class="tab60">&lttr></span><br>
                                                           <span class="tab80">&ltth scope="col">Saturday&lt/th><br>
                                                           <span class="tab80">&ltth scope="col">Sunday&lt/th><br>
                                                           <span class="tab60">&lt/tr></span><br>

                                                           <span class="tab60">&lttr></span><br>
                                                           <span class="tab80">&ltth scope="row">Temperature&lt/th><br>
                                                           <span class="tab120">&lttd>73&lt/td><br>
                                                           <span class="tab120">&lttd>81&lt/td><br>
                                                           <span class="tab60">&lt/tr></span><br>

                                                           <span class="tab40">&lttable></span><br>
                                                        </div>
                                                            <br>
                                                           <span class="badge badge-info code">&lttr> - Table Row</span> <br>
                                                           <br>
                                                           <span class="badge badge-success code">&ltth> - Table Heading</span> <br>
                                                           <br>
                                                           <span class="badge badge-secondary code">&lttd> - Table Data</span> <br>

                                                           <hr>

                                                           NOTE: the SCOPE attribute, which can take one of two values here:<br>
                                                                <br>
                                                            <span class="tab20"><b>row</b> - this value makes it clear that the heading is for a ROW. <br>
                                                            <span class="tab20"><b>col</b> - this value makes it clear that the heading is for a COLUMN<br>
                                                           <hr>
                                                           Bear in mind we haven't made the boarder yet
                                                           <hr>
                                                           BELOW makes a table boarder
                                                           <br>
                                                           <div class="code">
                                                           <span class="tab40">&lttable border="1"></span>
                                                           <small class="comments">&lt--the integer "1" represents the thickness of the border</small></span><br>
                                                            <span class="tab60">&lttr></span><br>
                                                              <span class="tab80">&lttd>73&lt/td></span><br>
                                                              <span class="tab80">&lttd>81&lt/td></span><br>
                                                              <span class="tab80">&lttd>61&lt/td></span><br>
                                                              <span class="tab80">&lttd>31&lt/td></span><br>
                                                              <span class="tab80">&lttd>21&lt/td></span><br>
                                                              <span class="tab80">&lttd>91&lt/td></span><br>
                                                              <span class="tab80">&lttd>81&lt/td></span><br>
                                                            <span class="tab60">&lt/tr></span><br>
                                                          <span class="tab40">&lt/table></span><br>
                                                          </div>
                                                          <br>
                                                          <small>Outcome BELOW the numbers are blocked with boarders</small><br>

                                                          <table border="1">
                                                            <tr>
                                                              <td>73</td>
                                                              <td>81</td>
                                                              <td>61</td>
                                                              <td>31</td>
                                                              <td>21</td>
                                                              <td>91</td>
                                                              <td>81</td>
                                                            </tr>
                                                          </table>

                                                          <hr>

                                                          <b>CSS</b> version reads like this: <br>
                                                          <br> 
                                                          <div class="code">
                                                          <span class="tab40">table, td { </span><br>
                                                            <span class="tab60">border: 1px solid black;,</span><br>
                                                          <span class="tab40">}</span><br>
                                                          </div>



                                                           <!-- <table border="1">
                                                              <tr>
                                                                <th scope="col">Saturday</th>
                                                                <th scope="col">Sunday</th>
                                                              </tr>
                                                              <tr>
                                                                <th scope="row">Temperature</th>
                                                                  <td>73</td>
                                                                  <td>81</td>
                                                              <tr>
                                                          <table> -->

                                                           </li>








{% endblock %}