{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>



                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'deliverables' %}">Deliverables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'practices' %}">Practices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main' %}">Development Stack</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>


    <h2><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.w3.org%2Fhtml%2Flogo%2Fdownloads%2FHTML5_Logo_512.png&f=1&nofb=1" height="70" width="80" class="ml-4 mr-3">Tables</h2>

    <div class="line"></div>

                <style type="text/css">
                        .tab20 {
                            margin-left: 20px;
                        }
                        .tab40 {
                            margin-left: 40px;
                        }
                        .tab60 {
                            margin-left: 60px;
                        }
                        .tab80 {
                            margin-left: 80px;
                        }
                        .tab120 {
                            margin-left: 120px;
                        }
                        .code {
                            font-size: 10px;
                            font-weight: bold;
                        }
                        .comments {
                          color: grey;
                        }
                        .blue {
                          background-color: #ADD8E6;
                        }
                    </style>


    <div class="container-fluid">
            <div class="media">
            <div class="container">


            <br>


                <ol class="list-group mr-8">

                    <li class="list-group-item list-group-item-secondary">Tables.html</li>
                                <li class="list-group-item">BELOW makes an HTML table:
                                                            <br>
                                                        <div class="code">
                                                           <span>&lttable></span><br>

                                                           <span class="tab20">&lttr></span><br>
                                                           <span class="tab40">&ltth scope="col">Saturday&lt/th><br>
                                                           <span class="tab40">&ltth scope="col">Sunday&lt/th><br>
                                                           <span class="tab20">&lt/tr></span><br>

                                                           <span class="tab20">&lttr></span><br>
                                                           <span class="tab40">&ltth scope="row">Temperature&lt/th><br>
                                                           <span class="tab60">&lttd>73&lt/td><br>
                                                           <span class="tab60">&lttd>81&lt/td><br>
                                                           <span class="tab20">&lt/tr></span><br>

                                                           <span>&lttable></span><br>
                                                        </div>
                                                            <br>
                                                           <span class="badge badge-info code">&lttr> - Table Row</span> <br>
                                                           <br>
                                                           <span class="badge badge-success code">&ltth> - Table Heading</span> <br>
                                                           <br>
                                                           <span class="badge badge-secondary code">&lttd> - Table Data</span> <br>

                                                           <hr>

                                                           NOTE: the SCOPE attribute, which can take one of two values here:<br>
                                                                <br>
                                                            <span class="tab20"><b>row</b> - this value makes it clear that the heading is for a ROW. <br>
                                                            <span class="tab20"><b>col</b> - this value makes it clear that the heading is for a COLUMN<br>
                                                           <hr>
                                                           Bear in mind we haven't made the boarder yet
                                                           <hr>
                                                           BELOW makes a table boarder
                                                           <br>
                                                           <div class="code">
                                                           <span class="tab40">&lttable border="1"></span>
                                                           <small class="comments">&lt--the integer "1" represents the thickness of the border</small></span><br>
                                                            <span class="tab60">&lttr></span><br>
                                                              <span class="tab80">&lttd>73&lt/td></span><br>
                                                              <span class="tab80">&lttd>81&lt/td></span><br>
                                                              <span class="tab80">&lttd>61&lt/td></span><br>
                                                              <span class="tab80">&lttd>31&lt/td></span><br>
                                                              <span class="tab80">&lttd>21&lt/td></span><br>
                                                              <span class="tab80">&lttd>91&lt/td></span><br>
                                                              <span class="tab80">&lttd>81&lt/td></span><br>
                                                            <span class="tab60">&lt/tr></span><br>
                                                          <span class="tab40">&lt/table></span><br>
                                                          </div>
                                                          <br>
                                                          <small>Outcome BELOW the numbers are blocked with boarders</small><br>

                                                          <table border="1">
                                                            <tr>
                                                              <td>73</td>
                                                              <td>81</td>
                                                              <td>61</td>
                                                              <td>31</td>
                                                              <td>21</td>
                                                              <td>91</td>
                                                              <td>81</td>
                                                            </tr>
                                                          </table>

                                                          <hr>

                                                          <b>CSS</b> version reads like this: <br>
                                                          <br> 
                                                          <div class="code">
                                                          <span class="tab40">table, td { </span><br>
                                                            <span class="tab60">border: 1px solid black;,</span><br>
                                                          <span class="tab40">}</span><br>
                                                          </div>

                                                          <hr>

                                                          SO the CSS would work on the HTML ABOVE <br>

                                                          <hr>

                                                          BELOW is an example of columnspan: <br>

                                                        <div class="code">
                                                          &lttable border="1"><br>
                                                            <span class="tab20">&lttr></span><br>
                                                              <span class="tab40">&ltth>Monday&lt/th><br>
                                                              <span class="tab40">&ltth>Tuesday</th><br>
                                                              <span class="tab40">&ltth>Wednesday</th><br>
                                                            <span class="tab20">&lt/tr><br>
                                                            <span class="tab20">&lttr><br>
                                                              <span class="tab40">&lttd colspan="2">Out of Town</td><br>
                                                              <span class="tab40">&lttd>Back in Town</td><br>
                                                            <span class="tab20">&lt/tr><br>
                                                          &lt/table><br>
                                                          </div>

                                                          <br>

                                                          <table border="1">
                                                            <tr>
                                                              <th>Monday</th>
                                                              <th>Tuesday</th>
                                                              <th>Wednesday</th>
                                                            </tr>
                                                            <tr>
                                                              <td colspan="2"><center>Out of Town</center></td>
                                                              <td>Back in Town</td>
                                                            </tr>
                                                          </table>

                                                          <span class="tab20"><small>* HERE 'Out of Town' covers both</small> 
                                                            <span><small>Mon and Tue</small>

                                                            <hr>

                                                            BELOW is an example of rowspan: <br>
                                                            <div class="code">
                                                            &lttable border="2"><br>
                                                              <span class="tab20">&lttr> <span class="comments">&lt!-- TableRow 1 --></span><br>
                                                                <span class="tab40">&ltth></th><br>
                                                                <span class="tab40">&ltth>Saturday</th><br>
                                                                <span class="tab40">&ltth>Sunday</th><br>
                                                              <span class="tab20">&lt/tr><br>
                                                              <span class="tab20">&lttr> <span class="comments">&lt!-- TableRow 2 --></span><br>
                                                                <span class="tab40">&ltth>Morning</th><br>
                                                                <span class="tab40">&lttd rowspan="2">Work</td><br>
                                                                <span class="tab40">&lttd rowspan="3">Relax</td><br>
                                                              <span class="tab20">&lt/tr><br>
                                                              <span class="tab20">&lttr> <span class="comments">&lt!-- TableRow 3 --></span><br>
                                                                <span class="tab40">&ltth>Afternoon</th><br>
                                                              <span class="tab20">&lt/tr><br>
                                                              <span class="tab20">&lttr> <span class="comments">&lt!-- TableRow 4 --></span><br>
                                                                <span class="tab40">&ltth>Evening</th><br>
                                                                <span class="tab40">&lttd>Dinner</td><br>
                                                              <span class="tab20">&lt/tr><br>
                                                            &lt/table>
                                                            </div>

                                                            <br>

                                                            <table border="2">
                                                              <tr> <!-- Row 1 -->
                                                                <th></th>
                                                                <th>Saturday</th>
                                                                <th>Sunday</th>
                                                              </tr>
                                                              <tr> <!-- Row 2 -->
                                                                <th>Morning</th>
                                                                <td rowspan="2">Work</td>
                                                                <td rowspan="3">Relax</td>
                                                              </tr>
                                                              <tr> <!-- Row 3 -->
                                                                <th>Afternoon</th>
                                                              </tr>
                                                              <tr> <!-- Row 4 -->
                                                                <th>Evening</th>
                                                                <td>Dinner</td>
                                                              </tr>
                                                            </table>
                                                            <span class="tab20"><small>* SO its scheduled to WORK</small> 
                                                              <span><small>Saturday Morning and Afternoon</small>
                                                              <span><small>AND relax all of Sunday</small>

                                                            <hr>

                                                            BELOW we use a TABLE BODY to section off table so that it is easier to manage: <br>

                                                            <div class="code">
                                                              &lttable><br>
                                                                    <span class="tab20">&lttr><br>
                                                                    <span class="tab40">&ltth>Company Name&lt/th><br>
                                                                    <span class="tab40">&ltth>Number of Items to Ship&lt/th><br>
                                                                    <span class="tab40">&ltth>Next Action%lt/th><br>
                                                                    <span class="tab20">&lt/tr><br>
                                                              &lttbody><br>
                                                                    <span class="tab40">&lttr><br>
                                                                    <span class="tab60">&lttd>Adam’s Greenworks&lt/td><br>
                                                                    <span class="tab60">&lttd>14&lt/td><br>
                                                                    <span class="tab60">&lttd>Package Items&lt/td><br>
                                                                    <span class="tab40">&lt/tr><br>
                                                                    <span class="tab40">&lttr><br>
                                                                    <span class="tab60">&lttd>Davie's Burgers&lt/td><br>
                                                                    <span class="tab60">&lttd>2&lt/td><br>
                                                                    <span class="tab60">&lttd>Send Invoice&lt/td><br>
                                                                    <span class="tab40">&lt/tr><br>
                                                                &lt/tbody><br>

                                                              &lt/table><br>
                                                            </div>

                                                            <br>

                                                           <table border="2">
                                                                <tr>
                                                                <th>Company Name</th>
                                                                <th>Number of Items to Ship</th>
                                                                <th>Next Action</th>
                                                                </tr>
                                                              <tbody>
                                                                <tr>
                                                                <td>Adam’s Greenworks</td>
                                                                <td><center>14</center></td>
                                                                <td>Package Items</td>
                                                                </tr>
                                                                <tr>
                                                                <td>Davie's Burgers</td>
                                                                <td><center>2</center></td>
                                                                <td>Send Invoice</td>
                                                               </tr>
                                                            </tbody>

                                                          </table>




                                                            <hr>

                                                            BELOW we use a TABLE HEAD to section off the Head of the table: <br>

                                                            <div class="code">
                                                              &lttable border="2"><br>
                                                                  <span class="tab20">&ltthead class="blue"><br>
                                                                  <span class="tab40">&lttr><br>
                                                                  <span class="tab60">&ltth>Company Name&lt/th><br>
                                                                  <span class="tab60">&ltth>Number of Items to Ship&lt/th><br>
                                                                  <span class="tab60">&ltth>Next Action&lt/th><br>
                                                                  <span class="tab40">&lt/tr><br>
                                                                <span class="tab20">&lt/thead><br>
                                                                <span class="tab20">&lttbody><br>
                                                                  <span class="tab40">&lttr><br>
                                                                  <span class="tab60">&lttd>Adam’s Greenworks&lt/td><br>
                                                                  <span class="tab60">&lttd>14&lt/td><br>
                                                                  <span class="tab60">&lttd>Package Items&lt/td><br>
                                                                  <span class="tab40">&lt/tr><br>
                                                                  <span class="tab40">&lttr><br>
                                                                   <span class="tab60">&lttd>Davie's Burgers&lt/td><br>
                                                                   <span class="tab60">&lttd>2&lt/td><br>
                                                                   <span class="tab60">&lttd>Send Invoice&lt/td><br>
                                                                 <span class="tab40">&lt/tr><br>
                                                                 <span class="tab20">&lt/tbody><br>
                                                              &lt/table>
                                                            </div>

                                                            <br>

                                                            <table border="2">
                                                                  <thead class="blue">
                                                                    <tr>
                                                                    <th>Company Name</th>
                                                                    <th>Number of Items to Ship</th>
                                                                    <th>Next Action</th>
                                                                    </tr>
                                                                  </thead>
                                                                      <tbody>
                                                                    <tr>
                                                                    <td>Adam’s Greenworks</td>
                                                                    <td>14</td>
                                                                    <td>Package Items</td>
                                                                    </tr>
                                                                    <tr>
                                                                     <td>Davie's Burgers</td>
                                                                     <td>2</td>
                                                                     <td>Send Invoice</td>
                                                                   </tr>
                                                                   </tbody>             
                                                            </table>

                                                            <span class="tab20"><small>* SO you separated the table</small> 
                                                            <span><small>head and then added the 'blue'</small> 
                                                            <span><small>class which is actually more of a</small> 
                                                            <span><small>baby blue</small>

                                                              <hr>

                                                              BELOW we use a TABLE FOOTER to section off the Foot of the table:<br>


                                                              <div class="code">
                                                                <span>&lttfoot><br>
                                                                  <span class="tab20">&lttr><br>
                                                                    <span class="tab40">&ltth>Total&lt/th><br>
                                                                    <span class="tab60">&lttd>16&lt/td><br>
                                                                    <span class="tab60">&lttd class="blue">&lt/td><br>
                                                                  <span class="tab20">&lt/tr><br>
                                                                  <span>&lt/tfoot>
                                                              </div>
                                                              <br>
                                                            <table border="2">
                                                                  <thead class="blue">
                                                                    <tr>
                                                                    <th>Company Name</th>
                                                                    <th>Number of Items to Ship</th>
                                                                    <th>Next Action</th>
                                                                    </tr>
                                                                  </thead>
                                                                      <tbody>
                                                                    <tr>
                                                                    <td>Adam’s Greenworks</td>
                                                                    <td>14</td>
                                                                    <td>Package Items</td>
                                                                    </tr>
                                                                    <tr>
                                                                     <td>Davie's Burgers</td>
                                                                     <td>2</td>
                                                                     <td>Send Invoice</td>
                                                                   </tr>
                                                                   </tbody>             
                                                            
                                                                  <tfoot>
                                                                  <tr>
                                                                    <th>Total</th>
                                                                    <td>16</td>
                                                                    <td class="blue"></td>
                                                                  </tr>
                                                                  </tfoot>
                                                            </table>
                                                            <span class="tab20"><small>* SO its added to the BOTTOM of </small>

                                                              <span><small>the existing table</small>









                                                           </li>








{% endblock %}