{% extends 'base.html' %}


{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                   

                  <!--NAVBAR BUTTONS-->
                <style type="text/css">
                    #devstack {
                         border: 2px solid black;
                    }
                    .topfix {
                        position: fixed;
                        top: 0;
                        width: 100%;
                        z-index: 5;
                    }
                    .right {
                        margin-left: 1000px;
                    }
                    .buttonsrow {
                        
                        align-content: center;
                    }
                </style>

                <div>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="buttonsrow">
                            <ul class="nav navbar-nav ml-auto">

                                <small class="ml-auto">To Do Lists:</small>

                                <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>
                                <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                                <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                                <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>
                                <button type="button" class="btn btn-sm btn-outline-devstack ml-3" id="devstack"><a href="{% url 'main' %}">Home</a></button>

                                 <div class="dropdown">
                                    <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false"><span><b>{{ user }}</b></span></button>

                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'acct' %}"><span>Account Info</span></a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout_user' %}"><span><b>Logout</b></span></a>
                                    </div>
                               </div>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    
                </div>
            </nav>


            <style type="text/css">
            	.code {
            		font-size: 11px;
            	}
                .code9 {
                    font-size: 9px;
                }
            </style>


    <h2>Git-Git<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fterokarvinen.com%2Fwp-content%2Fuploads%2F2012%2F08%2Fgit-logo-cc-by-300x300.png&f=1&nofb=1" height="70" class="ml-4"></h2>

    <div class="line"></div>


    <div class="container-fluid">
            <div class="media">
			<div class="container">


			<br>


			    <ol class="list-group mr-8">

			    	<li class="list-group-item list-group-item-secondary">Initialize Git Repository</li>
			    	<li class="list-group-item code">git config --global user.name <span class="code9">"Your Name"</span><br>
												git config --global user.email <span class="code9">"you@youraddress.com"</span><br>
												git config --global push.default matching <br>
												git config --global alias.co checkoutgit init <br>
												git init <br>
												git add . <br>
												git commit -m "message here" <br>
												</li>
			    	<br>

			    	<li class="list-group-item list-group-item-secondary">Basic Git Commands For Git Version Control</li>
			    	<li class="list-group-item code">git init <br>
												git add . <br>
												git commit -m "message here" <br>
												git status  <br>
												git log('q' to exit) <br>								
												git checkout(license plate- unique commit id)</li></li>

					<br>
					<li class="list-group-item list-group-item-secondary">Push from Git to GitHub</li>
					<li class="list-group-item code">git remote add origin git@github.com: courthub74/(repo name here) <br>
												git push -u origin master <br>
												<hr>
												If Original Add Origin is Rejected try below:<br>
												git remote set-url origin https://github.com/courthub74/(repo name here)</li>

					<br>
					<li class="list-group-item list-group-item-secondary">Existing Push</li>
					<li class="list-group-item code">git status <br>
												git add . <br>
												git commit -m "Commit Message" <br>
												git push origin master <br>
												<hr>
												NOTE: if changes are made in your GitHub i.e. ReadMe commits, then perform below:<br>
														git pull origin master <br>
														<br>
														THEN perform:<br>
															'git push origin master' again</li>



{% endblock %}