{% extends 'base.html' %}

{% block content %}


  <!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

         
        </head>

  <body>

  	

    <div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                 


                     <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                        .topfix {
                            position: fixed;
                            top: 0;
                            width: 100%;
                            z-index: 5;
                        }
                        .right {
                            margin-left: 1000px;
                        }
                        .smaller {
                            height: 30px;
                            width: 60px;
                            font-size: 10px;
                        }
                    </style>


                <div>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>
                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>
                            <button type="button" class="btn btn-sm btn-outline-devstack ml-3" id="devstack"><a href="{% url 'main' %}">Home</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'acct' %}">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>
                </div>
                    
                </div>
            </nav>

            <style type="text/css">
            	.tab {
            		margin-left: 40px;
            	}
            	.tab80 {
            		margin-left: 80px;
            	}
                .code {
                    font-size: 10px;
                }
            </style>


    <h2>MVC Basics:</h2>

    <div class="line"></div>

    <div class="container">
    <ol class="list-group mr-8 code">
			    	<li class="list-group-item list-group-item-secondary"><h5>Django is <br><b>MVC</b> Architecture</h5></li>
												<li class="list-group-item"><span>M - Models: [Database] <br>
												<span>V - Views: [Webpages] <br>
												<span>C - Controller: [Routers (URLS)]</li>
			    	<br>
			    	<li class="list-group-item list-group-item-secondary"><h5>MODELS.PY</h5></li>
												<li class="list-group-item code">class deliverables(models.Model):<br>
												<span class="tab code">delivs = models.CharField(max_length=200) <br>
												<span class="tab code">completeddelivs = models.BooleanField(default=False) <br>
                                                        <br>
												<span class="tab">def __str__(self): <br>
													<span class="tab">return self.delivs</li> 
			    	<br>
			    	<li class="list-group-item list-group-item-secondary"><h5>VIEWS.PY</h5></li>
													<li class="list-group-item">from .models import deliverables <br>
                                                        <br>
                                                        def deliverables(request):<br>
														<span class="tab">all_delivs = Deliverables.objects.all <br>
														<span class="tab">return render(request, 'deliverables.html', {'all_delivs': all_delivs})</li>
			    	<br>

                    <li class="list-group-item list-group-item-secondary"><h5>URLS.PY</h5></li>
                                                <li class="list-group-item">from . import views <br>
                                                    <br>
                                                    urlpatterns = [  <br>
                                                        <span class="tab">  path('deliverables/', views.deliverables, name='deliverables'), <br>
                                                        ]</li>



                    <br>

			    		<li class="list-group-item list-group-item-secondary"><h5>DELIVERABLES.HTML</h5></li>
								<li class="list-group-item"><span>(%if all_delivs%) <br>

															<span>(ul) <br>
																<span>(% for things in all_delivs %) <br>
																	<span class="tab">(li)(( all_delivs ))(li) <br>
                                                                        <span class="tab">--All Objects in the Deliverables Table--<br>
																	<span class="tab">(li)(( things.delivs )) |<br><span class="tab80">(( things.completeddelivs ))(li)<br> 
                                                                        <span class="tab">--Breaks those objects down by rendering <br>
                                                                         <span class="tab">directly from models.py--<br>
																<span>(%endfor%)<br>
															<span>(ul)</li>
			    	
			    	<br>
			    </div>
			    </div>

	</div>

{% endblock %}