{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                    <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                    </style>



                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>

                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>

                            <button type="button" class="btn btn-sm btn-outline-devstack ml-5" id="devstack"><a href="{% url 'main' %}">back to Development Stack</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>
                    
                </div>
            </nav>


    <h2><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.w3.org%2Fhtml%2Flogo%2Fdownloads%2FHTML5_Logo_512.png&f=1&nofb=1" height="70" width="80" class="ml-4 mr-3">Numberbox</h2>

    <div class="line"></div>

                <style type="text/css">
                        .tab20 {
                            margin-left: 20px;
                        }
                        .tab40 {
                            margin-left: 40px;
                        }
                        .tab80 {
                            margin-left: 80px;
                        }
                        .tab120 {
                            margin-left: 120px;
                        }
                        .code {
                            font-size: 10px;
                            font-weight: bold;
                        }
                    </style>


    <div class="container-fluid">
            <div class="media">
            <div class="container">


            <br>


                <ol class="list-group mr-8">

                    <li class="list-group-item list-group-item-secondary">Numberbox.html</li>
                               <li class="list-group-item">
                            <div class="code">
                                <span><b>&ltform></span><br>
                                    <span class="tab20">&ltlabel for="years"> Years of experience:</span><br>
                                    <span class="tab20">&lt/label></span><br>
                                    <span class="tab20">&ltinput id="years" name="years"</span><br>  
                                    <span class="tab20">type="number" step="1"></span><br>   
                               <span>&lt/form></b></span> <br>
                               <br>
                            </div>
                            <hr>
                            <form>
                                <label for="years"> Years of experience:</label>
                                <input id="years" name="years" type="number" step="1" >
                            </form>
                            <span><small>* Hover over box and click the</small></span> 
                            <span><small>arrows</small></span>
                               </li>








{% endblock %}