{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>



                     <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                        .topfix {
                            position: fixed;
                            top: 0;
                            width: 100%;
                            z-index: 5;
                        }
                        .right {
                            margin-left: 1000px;
                        }
                    </style>


                <div>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>

                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>

                            <button type="button" class="btn btn-sm btn-outline-devstack ml-3" id="devstack"><a href="{% url 'main' %}">Home</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>
                </div>
                    
                </div>
            </nav>


    <h2><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.w3.org%2Fhtml%2Flogo%2Fdownloads%2FHTML5_Logo_512.png&f=1&nofb=1" height="70" width="80" class="ml-4 mr-3">Slider</h2>

    <div class="line"></div>


      <style type="text/css">
                        .tab20 {
                            margin-left: 20px;
                        }
                        .tab40 {
                            margin-left: 40px;
                        }
                        .tab60 {
                            margin-left: 60px;
                        }
                        .tab80 {
                            margin-left: 80px;
                        }
                        .tab120 {
                            margin-left: 120px;
                        }
                        .code {
                            font-size: 10px;
                            font-weight: bold;
                        }
                        .comments {
                            font-size: 10px;
                            color: grey;
                            font-weight: normal;
                        }
                    </style>


    <div class="container-fluid">
            <div class="media">
            <div class="container">


            <br>


                <ol class="list-group mr-8">

                    <li class="list-group-item list-group-item-secondary">Radio.html</li>
                                <li class="list-group-item">BELOW makes Radio Dials: <br>
                                    <hr>

                                <div class="code">

                                   <span>&ltp>What is sum of 1 + 1?&lt/p></span><br>
                                   <br>
                                   <span>&ltform></span> <br>
                                      <span class="comments">&lt!--Add your first radio button below--></span><br>
                                      <span class="tab20">&ltinput type="radio" id="two"</span><br> 
                                      <span class="tab20">name="answer" value="2"></span><br>
                                      <span class="tab20">&ltlabel for="two">2&lt/label></span><br>
                                      <span class="tab20">&ltbr></span><br>
                                      <span class="comments">&lt!--Add your second radio button below--></span><br>
                                      <span class="tab20">&ltinput type="radio" id="eleven"</span><br> 
                                      <span class="tab20">name="answer" value="11"></span><br>
                                      <span class="tab20">&ltlabel for="eleven">11&lt/label></span><br><br>
                                      <span>&lt/form></span> <br>
                                      <hr>

                                      <span>&ltp>On your burger&lt/p></span><br>
                                      <br>
                                      <span>&ltform></span> <br>
                                      <span class="tab20">&ltspan>Would you like to add cheese?</span> <br>
                                      <span class="tab20">&lt/span></span><br>
                                      <span class="comments">&lt!--Add your first radio button below--></span><br>
                                      <span class="tab20">&ltinput type="radio" name="cheese"</span><br>
                                      <span class="tab20">id="yes" value="yes"></span><br>            
                                      <span class="tab40">&ltlabel for="yes">Yes&lt/label></span><br>
                                      <span class="tab40">&ltbr></span><br>
                                      <span class="comments">&lt!--Add your second radio button below--></span><br>
                                      <span class="tab20">&ltinput type="radio" name="cheese"</span><br>
                                      <span class="tab20">id="no" value="no"></span><br>
                                      <span class="tab40">&ltlabel for="no">No&lt/label></span><br>
                                     
                                    <span>&lt/form></span> <br></div>
                                    <hr>
                                    ABOVE are two different examples of Radiodial sets one to select the correct value of 1 + 1 and another to 
                                    select toppings on a burger <br>
                                        <hr> 


                                    <form>
                                      <p>What is sum of 1 + 1?</p>
                                      <input type="radio" id="two" name="answer" value="2">
                                      <label for="two">2</label>
                                      <br>
                                      <input type="radio" id="eleven" name="answer" value="11">
                                      <label for="eleven">11</label>

                                      <hr>

                                      <p>On your Burger:</p>
                                      
                                      <p>Would you like to add cheese?</p>
                                    
                                              
                                                <!--Add your first radio button below-->
                                              <input type="radio" name="cheese" id="yes"
                                                     value="yes">

                                              <label for="yes">Yes</label>
                                              <br>
                                                <!--Add your second radio button below-->
                                              <input type="radio" name="cheese" id="no"
                                                     value="no">

                                              <label for="no">No</label>
                                           
                                    </form></li>
                                 


    {% endblock %}