{% extends 'base.html' %}

{% block content %}


	<div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                   

                    <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                        .topfix {
                            position: fixed;
                            top: 0;
                            width: 100%;
                            z-index: 5;
                        }
                        .right {
                            margin-left: 1000px;
                        }
                        .smaller {
                            height: 30px;
                            width: 60px;
                            font-size: 10px;
                        }
                    </style>


                <div>
                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>
                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>
                            <button type="button" class="btn btn-sm btn-outline-devstack ml-3" id="devstack"><a href="{% url 'main' %}">Home</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'acct' %}">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>
                </div>
                    
                </div>
            </nav>

            <style type="text/css">
            	.tab {
            		margin-left: 40px;
            	}
            	.tab80 {
            		margin-left: 80px;
            	}
            	.tab120 {
            		margin-left: 120px;
            	}
                .blue {
                    color: #1E90FF;
                }
                .black {
                    color: black;
                }
                .code {
                    font-size: 12px;
                }
            </style>


    <h2>Try Except <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Finsidehpc.com%2Fwp-content%2Fuploads%2F2016%2F01%2FPython-logo-notext.svg_.png&f=1&nofb=1" height="70" class="ml-2 mr-1"> Example:</h2>

    <div class="line"></div>

    		<div class="container">
   				 <ol class="list-group mr-8">
			    	<li class="list-group-item"><h5>First we have:</h5>

												<span>try: </span><br>
												<span class="code blue"># WANT TO ATTEMPT THIS CODE </span><br>
                                                <span class="tab code blue"># BUT IT MAY HAVE AN ERROR </span><br>
											
												<span class="tab black">result = 10 + '10'</span><br>
                                                 <br>
												<span>except:</span><br>
                                                 <br>
												<span>print ("Hey it looks like you aren't adding correctly")</span><br>
                                                <hr>
                                                <span>So if you try to call <b>Result</b>: <br>
                                                    <br>
                                                    <span>you will get: <br><br>
                                                     <span class="tab black"><b>Hey it looks like you aren't adding correctly</b><br><br>

                                                        <span><small>you tried to add an integer with a string</small><br>
                                                            <br>
                                                <span>Otherwise you would have just gotten an error operand</li>
													
												
												

{% endblock %}