{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CourDevs Solutions</title>

           

        </head>

  <body>

    <div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto ml-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>



                    <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                    </style>



                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>

                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>

                            <button type="button" class="btn btn-sm btn-outline-devstack ml-5" id="devstack"><a href="{% url 'main' %}">back to Development Stack</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>
                    
                </div>
            </nav>


    <h2><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.w3.org%2Fhtml%2Flogo%2Fdownloads%2FHTML5_Logo_512.png&f=1&nofb=1" height="70" width="80" class="ml-4 mr-3">UserAuthentication</h2>

    <div class="line"></div>


      <style type="text/css">
                        .tab20 {
                            margin-left: 20px;
                        }
                        .tab40 {
                            margin-left: 40px;
                        }
                        .tab60 {
                            margin-left: 60px;
                        }
                        .tab80 {
                            margin-left: 80px;
                        }
                        .tab120 {
                            margin-left: 120px;
                        }
                        .code {
                            font-size: 10px;
                            font-weight: bold;
                        }
                    </style>


    <div class="container-fluid">
            <div class="media">
            <div class="container">


            <br>


                <ol class="list-group mr-8">

                    <li class="list-group-item list-group-item-secondary">UserAuthentication.html</li>
                                <li class="list-group-item">BELOW makes a User Authentication Screen: <br>
                                    <hr>

                                <div class="code">

                                   <span>&lt!DOCTYPE html></span> <br>
                                   <span>&lthtml lang="en" dir="ltr"></span><br>
                                   <span class="tab20">&lthead></span> <br>
                                   <span class="tab40">&ltlink rel="stylesheet"</span><br> 
                                   <span class="tab60">type="text/css" href="style.css"></span><br>

                                   <span class="tab40">&ltlink</span><br> 
                                   <span class="tab40">href="https://fonts.googleapis.com/css?</span><br>
                                   <span class="tab40">family=Rubik" rel="stylesheet"></span><br>
                                   <span class="tab60">&lttitle>Password Input&lt/title></span><br>
                                   <span class="tab20">&lt/head></span><br>


                                   <span>&ltbody></span><br>
                                   <span class="tab20">&ltsection id="overlay"></span><br>
                                   <span class="tab20">&ltimg</span><br> 
                                    <span class="tab20">src="https://s3.amazonaws.com/</span><br>
                                    <span class="tab20">codecademy-content/courses</span><br>

                                    <span class="tab20">web-101/unit-6/htmlcss1-</span><br>
                                    <span class="tab20">img_burger-logo.svg" alt="Davie's</span><br>
                                    <span class="tab20">Burgers Logo" id="logo"></span><br><br>

                                   <span class="tab20">&lthr></span><br>
                                   <span class="tab20">&ltform></span><br>
                                   <span class="tab40">&lth1>Login to start creating a burger!</span><br>
                                   <span class="tab40">&lt/h1></span><br>
                                   <span class="tab40">&ltlabel for="username">Username:</label></span><br>
                                   <span class="tab40">&ltinput type="text"</span><br> 
                                   <span class="tab40">name="username" id="username"></span><br>
                                   <span class="tab40">&ltbr></span><br>
                                   <span class="tab40">&ltlabel for="user-pw">Password:</label></span><br>
                                   <span class="tab40">&ltinput type="password"</span><br> 
                                   <span class="tab40">name="user-pw" id="user-pw"></span><br>
                                   <span class="tab20">&ltform/></span><br>
                                   <span class="tab20">&ltsection/></span><br>
                                   <span>&ltbody/></span><br>
                                    <span>&lthtml/></span>   


                                </div> 

                                <hr>

                              <!DOCTYPE html>
                                <html lang="en" dir="ltr">
                                <head>
                                
                                <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
                                <title>Password Input</title>
                                </head>
                                        <body>
                                            <section id="overlay">
                                                <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_burger-logo.svg" width="250" height="150" alt="Davie's Burgers Logo" id="logo">
                                                
                                                <form>
                                                <h4 class="tab20">Login to start creating a burger!</h4>
                                                <br>
                                                <span class="tab20"><label for="username">Username:</label></span>
                                                <span><input type="text" name="username" id="username"></span>
                                                <br> <hr>
                                                <span class="tab20"><label for="user-pw">Password:</label></span>
                                                <span><input type="password" name="user-pw" id="user-pw"></span>
                                                <form/>
                                            <section/>
                                        <body/>
                                <html/></li>


    {% endblock %}