{% extends 'base.html' %}

{% block content %}

<div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark mr-5">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    

                    <!--Navbar Links-->
                    <style type="text/css">
                        .devstack {
                            color: : 990000;
                        }
                    </style>



                   <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">

                            <small class="ml-auto">To Do Lists:</small>

                            <button type="button" class="btn btn-sm btn-outline-dark center ml-3"><a href="{% url 'projects' %}">Projects</a></button>

                            <button type="button" class="btn btn-sm btn-outline-success center ml-3"><a href="{% url 'deliverables' %}">Deliverables</a></button>
                            <button type="button" class="btn btn-sm btn-outline-primary center ml-3"><a href="{% url 'practices' %}">Practices</a></button>
                            <button type="button" class="btn btn-sm btn-outline-warning center ml-3"><a href="{% url 'classes' %}">Classes to Take</a></button>

                            <button type="button" class="btn btn-sm btn-outline-devstack ml-5" id="devstack"><a href="{% url 'main' %}">back to Development Stack</a></button>

                             <div class="dropdown">
                                <button type="button" class="btn btn-outline ml-3" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                            
                        <!--     <ul class="nav navbar-nav ml-auto">
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">Logged In: <b>{{ user }}</b></button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Account Info</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout_user' %}"><b>Logout</b></a>
                                </div>
                           </div>
                        </ul> -->
                            
                        </ul>
                    </div>

                    <!--Entry Form-->

                </div>
            </nav>



              		<style type="text/css">
                    	.middle {
                    	 	width: 100%;
                    	 	text-align: center;
                    	}
                    </style>

                     	<style type="text/css">
                		.center {
                			text-align: center;
                		}
                		.center-block {
                			margin-right: auto;
                			margin-left: auto;
                		}
                	</style>  




              <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container-fluid">


                	<style type="text/css">
                		.center {
                			text-align: center;
                		}
                		.center-block {
                			margin-right: auto;
                			margin-left: auto;
                		}
                        .ivory {
                            background-color: white;
                            color: black;
                        }
                	</style>      


             <h3>Classes to Take Checklist</h3> 

             <div class="center-block">
             	<form class="form-inline my-2 my-lg-0" method="POST">
					{% csrf_token %}
            		<input class="form-control mr-5 ml-auto center" size="30" placeholder="Enter Class" name="classes">
            		<button type="submit" class="btn mr-5" id="button">Add to Classes</button>
            	</form>
             </div>
           </div>
       </nav>


    <!--STRIKER-->
<style type="text/css">
	.striker {
		text-decoration: line-through;
	}
	.black {
		background-color: white;
		color: black;
        border: 1px solid black;
	}
    #button {
        background-color: gold;
        color: black;
        border: 1px solid black
    }
    #gold {
        background-color: gold;
        color: black;
    }
	.ivory {
		background-color: #FFFFF0;
		color: white;

	}
</style>

<!--MESSAGES-->


		{% if messages %}
			  {% for message in messages %}

			      <div class="alert alert-warning alert-dismissable" role="alert">
			        <button class="close" data-dismiss="alert">
			             <sup><small>close</small></sup>
			        </button>
			           {{ message }}
			      </div>

			  {% endfor %}
		{% endif %}

<!--CLASSES TABLE-->
	<div class="container">
		<table class="table table-bordered">
			<th class="table" id="gold" colspan="4">Classes To Complete</th>
			{% for stuff in all_classes %}
				{% if stuff.classescomplete %}

				<tr>
					<td class="striker">{{ stuff.classes }}</td>
					<td><center><a href="{% url 'classes_uncross' stuff.id %}">Uncross</a></center></td>
					<td><center><a href="{% url 'classes_delete' stuff.id %}">Delete</a></center></td>
				</tr>

				{% else %}

				<tr>
					<td>{{ stuff.classes }}</td>
					<td><center><a href="{% url 'classes_cross_off' stuff.id %}">Cross Off</a></center></td>
					<td><center><a href="{% url 'classes_delete' stuff.id %}">Delete</a></center></td>
				</tr>

				{% endif %}
			{% endfor %}
	</div>
        </div> 
    </div>
  </div>
    





{% endblock %}