{% extends 'base.html' %}

{% block content %}

<div id="content">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                   

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'deliverables' %}">Deliverables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'practices' %}">Practices</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main' %}">Development Stack</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>

            <style type="text/css">
                .tab {
                    margin-left: 10px;
                }
                .tab20 {
                    margin-left: 20px;
                }
                .tab40 {
                    margin-left: 40px;
                }
                .tab160 {
                    margin-left: 160px;
                }
                .blue {
                    color: #1E90FF;
                }
                .black {
                    color: black;
                }
                .code {
                    font-size: 12px;
                }
                .grey {
                    color: grey;
                }
            </style>

            <h2>Allen Iverson<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn-images-1.medium.com%2Fmax%2F1200%2F1*H-25KB7EbSHjv70HXrdl6w.png&f=1&nofb=1" height="50" class="ml-4"></h2>


<div class="line"></div>

            <div class="container">
                 <ol class="list-group mr-8">


        <li class="list-group-item">
            <span class="code black">function myFunction() {</span><br>
            
            <span class="code black tab">document.getElementById("demo").innerHTML = "Paragraph changed.";</span><br>

            <span class="code black">}</span><br><br>
            
            <span class="code black">firstName = "Court"</span><br>
            <span class="code black">other = "We Talkin about Practice man!"</span><br><br>


            <span class="code black">if (firstName == "Fred"){</span><br>
            <span class="code black tab">if (i % 3 == 0 && i % 5 == 0){</span><br>
            <span class="code black tab20">document.getElementById("demo").innerHTML = firstName;</span><br>
            <span class="code black tab">}else if (firstName == "Jay"){</span><br> 
            <span class="code black tab20">document.getElementById("demo").innerHTML = "Hello there Jay!"</span><br>
            <span class="code black tab">} else {</span><br>
            <span class="code black tab20">document.getElementById("demo").innerHTML = other;</span><br><br>

            <span class="code black">< script ></span><br>
            <span class="code black tab20">basketball = "Not-not the Game"</span><br>
            <span class="code black tab20">if (basketball == "Toy" || 4 == 4){</span><br>
            <span class="code black tab20">document.getElementById("iverson").innerHTML = basketball;</span><br>
            <span class="code black"> } </span><br>
            <span class="code black">< /script ></span><br><br>


                 <span class="code black">< script ></span><br>
                <span class="code black tab">hockey = "Hockey"</span><br>
                    <span class="code black tab">document.getElementById("hockey").innerHTML = hockey;</span><br>
                    <span class="code grey tab">//Below is a FOR Loop</span><br>
                        <span class="code black tab">for (i = 0; i < 10; i++){</span><br>
                        <span class="code black tab20">document.write(i + ".hat trick < br/>");</span><br>
                         <span class="code black">}</span><br>   
                 <span class="code black">< /script ></span><br><br>


                  <span class="code black">< script ></span><br>
                <span class="code black tab">football = "Football"</span><br>
                    <span class="code black tab">document.getElementById("football").innerHTML = football;</span><br>
                    <span class="code grey tab">//Below is a WHILE Loop</span><br>
                        <span class="code black tab">var i = 0;</span><br>
                        <span class="code black tab">while (i < 10){</span><br>
                        <span class="code black tab20">document.write(i + ".screen pass < br/>");</span><br>
                        <span class="code black tab20">i++;  <span class="code grey">//if you don't have the counter (i++) program will crash</span><br>
                         <span class="code black">}</span><br>   
                 <span class="code black">< /script ></span>
       




    </div>    


<!DOCTYPE html>
<html>
<head>
    <title>Iverson</title>
    <script>
        function myFunction() {
            document.getElementById("demo").innerHTML = "Paragraph changed.";
        }
    </script>
</head>
<body>

    <br/>
    <center>
        <h1 id="demo">We Talkin about Practice man!</h1>
        <br/>

        <script>

            firstName = "Court"
            other = "We Talkin about Practice man!"
            //Below is else and else if statement
            if (firstName == "Fred"){
                document.getElementById("demo").innerHTML = firstName;
            }else if (firstName == "Jay"){
                document.getElementById("demo").innerHTML = "Hello there Jay!"
            }
            else {
                document.getElementById("demo").innerHTML = other;
            }
        
        </script>

        <br/>

        <h1 id="iverson">We Talkin about Practice man!</h1>

        <script>

            basketball = "Not-not the Game"
            //Below is an OR operator
            if (basketball == "Toy" || 4 == 4){
                document.getElementById("iverson").innerHTML = basketball;
            }

        </script>

        <br/>



        <h1 id="hockey">Hockey</h1>

        <script>

            hockey = "Hockey"
            document.getElementById("hockey").innerHTML = hockey;
            //Below is a FOR Loop
            for (i = 0; i < 10; i++){
                document.write(i + ".hat trick <br/>");
            }

        </script>


        <br/>     


            <h1 id="football">Football</h1>

            <script>

                football = "Football"
                document.getElementById("football").innerHTML = football;
                //Below is a WHILE Loop
                var i = 0;

                while (i < 10){
                    document.write(i + ".screen pass <br/>");
                    i++;  //if you don't have the counter (i++) program will crash
                }

            </script>


    </center>

</body>
</html>

{% endblock %}